/* global settings */
@font-face {
    font-family: roboto-black;
    src: url(font/Roboto-Black.ttf);
  }

  @font-face {
    font-family: roboto-light;
    src: url(font/Roboto-Light.ttf);
  }

  @font-face {
    font-family: roboto-bold;
    src: url(font/Roboto-Bold.ttf);
  }

.page-wrap {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(175, 175, 175);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 2px solid blue;
    
}

#border {
    border: 2px solid red;
}


ul, li {
    list-style-type: none;
}

/* header top section  */

.header {
    grid-column: 2 / 5;
    display: grid;
    grid-template-rows: minmax(auto, 1fr) 2fr;
    grid-template-columns: minmax(auto, 1fr) 1fr;
    border: 2px solid blue;
    background-color: whitesmoke;
}

.headerButtons {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

button {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    margin: 10px;
    width: 100px;
    height: 40px;
    border-radius: 1rem;
}

.searchSect {
    display: flex;
    justify-content: start;
    align-items: center;
}

.search {
    width: 500px;
    height: 25px;
    border-radius: 1rem;
}
.nameSect {
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.imageholder {
    /* background-color: rgb(163, 1, 1);
    height: 20px;
    width: 50px; */
    margin: 10px;
}

.headerIcons {
    display: flex;
    align-items: center;
}
/* sidebar section  */

.sidebar {
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: minmax(auto, 1fr), .2fr 1.5fr 2fr;
    border: 2px solid blue;
    background-color: lightskyblue;
    color: white;
}

.logo {
    grid-row: 1 / 2;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

/* .toplogo {
    display: flex;
    /* grid-template-rows: minmax(auto, 1fr) auto; */
    /* border: 2px solid green;
    margin: 20px; */
    /* justify-content: space-around;
} */ */


.list {
    /* display: grid;
    grid-template-rows: repeat(6, 1fr); */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    grid-row: 2 / 3;
    display: grid;
    
}

div.list>ul>li {
    /* display: block;
    justify-content: center; */
    display: grid;
    grid-template-rows: minmax(auto, 1fr) auto;
    border: 1px solid green;
    align-items: center;
}

.settings {
    text-align: center;
    /* display: flex;
    justify-content: center; */
    grid-row: 3 / 5;
    font-size: 15px;
}

div.settings>ul>li {
    display: grid;
    grid-template-rows: minmax(auto, 1fr) auto;
    border: 2px solid green;
    margin: 20px;
}


a {
    display: flex;
    justify-content: center;
    align-items: center;
}

a>p {
    font-size: 20px;
    font-weight: 700;

}
/* content section  */

/* left side with cards */
.projects {
    grid-row: 2 / 5;
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 1fr;
    grid-template-rows: minmax(auto, 1fr) 1fr;
    border: 2px solid blue;
    background-color: rgba(175, 175, 175, 0.973);
    /* gap: 10px; */
}


.boxleft {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    grid-template-columns: minmax(auto, 1fr) 1fr;
    /* gap: 30px; */
    /* grid-template-columns: repeat(auto-fill, 186px) */
}


.card {
    margin: 10px;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: minmax(auto, 1fr) .5fr;
    background-color: white;
    
}


.topcard {
    display: grid;
   
}

.topcard>p {
    display: flex;
    margin: 20px;
    padding: 5px;
}

h3 {
    display: flex;
    margin: 20px 20px -20px 20px;

}

.bottomcard {
    grid-template-rows: 2 / 3;
    display: inline-flex;
    justify-content: end;
}

.cardIcon{
   margin: 20px;
   align-self: center;
}



/* right side with trends and ect */
.boxright {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    grid-template-rows: minmax(auto, 1fr) 1fr;;
    gap: 100px;
    border: 2px solid green;
}

.trending {
    grid-row: 2 / 3;
    display: flex;
    justify-self: center;
    height: 16rem;
    width: 15rem;
    background-color: white;
}

.announce {
    display: flex;
    justify-self: center;
    height: 16rem;
    width: 15rem;
    background-color: white;
}
